body{
    margin: 0;
}

a{
    text-decoration: none;
}

/* Inicio do Menu*/

.menu{
    margin-top: 1;
}

.titulo{
    text-align: center;
}

.links{
    font-size: 1rem;
    border: 1rem;
    margin: 1rem;
}